<div class="container">


<div class="d-flex justify-content-evenly align-items-center my-5 flex-wrap gap-3">
    <app-card></app-card>
    <app-card [card]="[{title:'schematics',text:'using schematics to quickly generate views with material design'}]"></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>


</div>
